<nav class="fixed z-10 w-full bg-white shadow h-26 pin-t dark:bg-gray-800">
  <!-- side nav -->

  <div [ngClass]="collapseShow" class="container absolute z-20 h-auto mt-24">
    <div
      (click)="toggleCollapseShow()"
      class="bg-transparent bg-gray-600 bg-opacity-10"
    >
      <div
        (click)="$event.stopPropagation()"
        class="z-40 flex flex-col w-64 h-screen bg-white shadow-md md:w-96"
      >
        <div class="px-5 py-2 mt-3 mb-3 text-xl font-semibold">
          Shop By Category
        </div>
        <div class="overflow-auto mb-28">
          <div *ngFor="let category of categories | async">
            <div
              (click)="onClickMenu(categoryId.id)"
              #categoryId
              id="{{ category.name }}"
              class="flex flex-row items-center justify-between w-full px-5 py-2 font-semibold cursor-pointer hover:bg-gray-200"
            >
              <div>{{ category.name }}</div>
              <div class="w-5"><app-chevron-down></app-chevron-down></div>
            </div>
            <ul [ngClass]="showSubMenu[categoryId.id]">
              <li
                class="px-5 hover:text-indigo-600"
                *ngFor="let subCategory of category.sub_category"
              >
                <a
                  (click)="toggleCollapseShow()"
                  [routerLink]="['/', category.category, subCategory]"
                  >{{ subCategory }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container px-6 py-3 mx-auto md:flex">
    <div class="flex items-center">
      <!-- Mobile menu button -->
      <div class="flex">
        <button
          type="button"
          class="text-gray-500 cursor-pointer dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400"
          aria-label="toggle menu"
          (click)="toggleCollapseShow()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
      <div class="w-32 ml-16 md:ml-0">
        <a
          class="w-5 text-xl font-bold text-gray-800 dark:text-white md:text-2xl hover:text-gray-700 dark:hover:text-gray-300"
          routerLink=""
        >
          <app-logo></app-logo>
        </a>
      </div>
    </div>

    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
    <div
      class="hidden md:w-full md:flex md:flex-row md:items-center md:justify-between"
    >
      <div class="hidden md:flex md:flex-row md:mx-0 md:py-0">
        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Grocery</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li>
              <a
                [routerLink]="['/', 'grocery', 'Pantry Staples']"
                class="hover:text-indigo-600"
                >Pantry Staples</a
              >
            </li>
            <li>
              <a
                class="hover:text-indigo-600"
                [routerLink]="['/', 'grocery', 'Snack Foods']"
                >Snack Foods</a
              >
            </li>
          </ul>
        </div>

        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Home & Kitchen</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li *ngFor="let subCategory of homeAndKitchen.sub_category">
              <a
                [routerLink]="['/', homeAndKitchen.category, subCategory]"
                class="hover:text-indigo-600"
                >{{ subCategory }}</a
              >
            </li>
          </ul>
        </div>

        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Men's Fashion</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li *ngFor="let subCategory of mensFashion.sub_category">
              <a
                [routerLink]="['/', mensFashion.category, subCategory]"
                class="hover:text-indigo-600"
                >{{ subCategory }}</a
              >
            </li>
          </ul>
        </div>

        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Women's Fashion</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li *ngFor="let subCategory of womensFashion.sub_category">
              <a
                [routerLink]="['/', womensFashion.category, subCategory]"
                class="hover:text-indigo-600"
                >{{ subCategory }}</a
              >
            </li>
          </ul>
        </div>

        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Electronics</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li *ngFor="let subCategory of electronics.sub_category">
              <a
                [routerLink]="['/', electronics.category, subCategory]"
                class="hover:text-indigo-600"
                >{{ subCategory }}</a
              >
            </li>
          </ul>
        </div>

        <div class="group">
          <a
            routerLinkActive="bg-indigo-100 border-b-4 border-blue-700"
            class="relative px-2 py-1 text-sm font-medium text-gray-700 transition-colors duration-200 transform rounded group-hover:text-indigo-600 dark:text-gray-200 md:mx-2"
            >Appliances</a
          >
          <ul
            class="absolute flex flex-col invisible p-10 space-y-2 bg-white border-b-2 border-indigo-600 shadow-2xl group-hover:visible"
          >
            <li *ngFor="let subCategory of appliances.sub_category">
              <a
                [routerLink]="['/', appliances.category, subCategory]"
                class="hover:text-indigo-600"
                >{{ subCategory }}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col px-2 py-3 -mx-4 md:items-center md:flex-row">
        <div class="relative mr-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
              <path
                d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </span>

          <input
            (keydown.enter)="search($event)"
            type="search"
            class="py-3 pl-10 pr-4 text-gray-700 bg-white border border-gray-300 rounded-md md:w-96 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"
            placeholder="Search Products"
          />
        </div>

        <div></div>
        <a routerLink="/cart">
          <div class="flex cursor-pointer">
            <svg
              class="w-8 text-indigo-500"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
              />
            </svg>
            <!-- <p class="text-xl">Cart</p> -->
          </div>
        </a>

        <a *ngIf="isAuthenticated" routerLink="/profile">
          <div class="flex ml-3 mr-1 cursor-pointer">
            <app-user-circle></app-user-circle>
          </div>
        </a>

        <div *ngIf="!isAuthenticated" class="text-center">
          <a routerLink="login"
            ><button
              type="button"
              class="px-4 py-2 ml-5 font-semibold text-white bg-indigo-500 rounded-lg shadow-md hover:bg-indigo-600 focus:outline-none"
            >
              Login
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
