<div class="flex flex-wrap pl-2 mt-5 ml-24 -m-4">
  <div
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
    class="flex flex-col w-full pt-10 pb-5 pl-5 pr-5 mb-10 mr-10 bg-white shadow-lg lg:w-1/5 md:w-1/2"
  >
    <div class="w-full h-56 p-10 mb-2 bg-gray-300 animate-pulse"></div>
    <div class="w-2/5 h-3 mb-2 bg-gray-200 animate-pulse"></div>
    <div class="w-4/5 h-4 mb-2 bg-gray-200 animate-pulse"></div>
    <div class="w-2/5 h-3 mb-2 bg-gray-200 animate-pulse"></div>
    <div class="w-2/5 h-8 bg-gray-200 rounded-lg animate-pulse"></div>
  </div>
</div>
